.side-layout {
    height: 100%;
    background-color: lightgrey;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 5px;
}

.side-layout__title {
    font-weight: bold;
    margin-bottom: 10px;
}

.side-layout__subtitle {
    font-style: italic;
}