<mat-card class="product-box">
    <div class="product-box__body">
        <img
            [src]="product.picture"
            [alt]="product.name"
            class="product-box__image"
        />
        <div class="product-box__description">
            <mat-card-header class="product-box__description-header">
                <mat-card-title>{{ product.name }}</mat-card-title>
                <mat-card-subtitle>Posted on {{ product.date }} by {{ product.author }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="product-box__description-content"> 
                <p>{{ adaptDescription() }}</p>
                <mat-chip-list class="product-box__description-content-footer">
                    <mat-chip
                        *ngFor="let category of sampleCategories"
                        [ngStyle]="{backgroundColor: category.color}"
                    >
                        {{ category.name }}
                    </mat-chip>
                    <mat-chip
                        *ngIf="hasMoreCategories"
                    >
                        ...
                    </mat-chip>
                </mat-chip-list>
            </mat-card-content>
            <mat-card-footer class="product-box__description-details">
                <a
                    mat-raised-button
                    color="accent"
                    (click)="goToDetails()"
                >
                    See more
                </a>
            </mat-card-footer>
        </div>
    </div>
</mat-card>
